<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">

<title>| PI - UC 14 |</title>

</head>

<body>

	<header>

	<a class="navbar-brand" href="/">PI Produto</a>
				<nav>
					<ul class="navbar-nav">
						<li ><a aria-current="page" href="/"> Home </a></li>
						<li><a href="/produtos"> Listar Produtos </a></li>
						<li><a href="/cadastrarProduto"> Cadastrar Produtos </a></li>
					</ul>
				</nav>

	</header>
					
					<main>
				    <h3>Produtos de informática</h3>
					<div class="buttons">
					<a href="/produtos" class="btnL">Listar Produtos</a> 
					<a href="/cadastrarProduto" class="btnC">Cadastrar Produtos</a>
					</div>
					</main>


	
	<footer><p>PI - Cadastro de Produtos</p></footer>

</body>

</html>